################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MarketEngine.Web/v16
/MarketEngine.Web/obj
/.vs/MarketEngine
/MarketEngine.Domain/obj
/MarketEngine.Web/bin/Debug/netcoreapp2.2
/MarketEngine.Web/MarketEngine.Web.csproj.user
/MarketEngine.Domain/bin/Debug/netcoreapp2.2
/MarketEngine.Tests/obj/Debug/netcoreapp2.2
/MarketEngine.Data/obj/Debug/netstandard2.0
/MarketEngine.Data/bin/Debug/netstandard2.0
/MarketEngine.Data/obj
/MarketEngine.Domain/bin/Debug/netstandard2.0
/MarketEngine.Tests/bin/Debug/netcoreapp2.2
/MarketEngine.Tests/obj
/ClassLibrary1/obj
/MarketEngine.Infra/bin/Debug/netstandard2.0
/MarketEngine.Infra/obj
/MarketEngine.Model/obj
/MarketEngine.StateMachine/obj
/MarketEngine.Controller/bin/Debug/netstandard2.0
/MarketEngine.Controller/obj
/MarketEngine.Domain.Services/obj
/MarketEngine.Repository/bin/Debug/netstandard2.0
/MarketEngine.Repository/obj/Debug/netstandard2.0
/MarketEngine.Repository/obj
